.logincomponent{
    display: flex;
    flex: 1;
    height: 100vh;
}
.innerLoginComonent{
    height: 50%;
    width: 90%;
    margin: auto;
}
.loginpara{
    text-align: center;
    font-size: 2em;
    font-weight: 600;
}
.emailcontainer{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    height: 60%;
}
.logininput{
    outline: none;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}
.loginbtn{
    padding: 10px;
    width: 50%;
    margin: 10px auto;
    border: none;
    border-radius: 10px;
    background: rgb(41, 41, 132);
    color: white;
}